# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
env/

# VSCode settings
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db
